{% block title %}
	Configurateur
{% endblock %}
<div>
	{% for categorie in categories %}
		<a href="{{ path('configurateur.cat', {'slug': categorie.slug}) }}"><button class="btn btn-primary">{{ categorie.name }}</button></a>
	{% endfor %}
</div>
