{% block title %}
	Configurateur
{% endblock %}
<div>
	{% for categorie in categories %}
		{% if panier[categorie.slug] == null %}
			<a href="{{ path('configurateur.cat', {'slug': categorie.slug}) }}"><button class="btn btn-primary">{{ categorie.name }}</button></a>
		{% endif %}
	{% endfor %}
</div>
