{% extends 'layouts/default.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div id="index">
		{{ include('accueil/login.html.twig') }}
		{{ include('accueil/entete.html.twig') }}
	</div>
{% endblock %}
