<div>
	<p>
		Reprendre vos anciennes configurations :
	</p>
	{% for item in panierUser %}
		<a href="{{  path('configurateur', {'panier' : item.id}) }}">
			<button class="btn btn-primary">
				<p>
					{{ item.getCreatedAt()|format_datetime('full', 'short', locale = 'fr') }}
				</p>
			</button>
		</a>
	{% endfor %}
</div>
