{% extends 'layouts/default.html.twig' %}

{% block title %}
	Composants
{% endblock %}

{% block body %}
	<button class="category bg-primary m-3 p-2">Le processeur</button>

	<style>
		.category {}
	</style>
{% endblock %}
